*{
    margin:0px;
    padding:0px;
}
body{
    background: #000 url(../img/main1.png)no-repeat center center fixed;;
    font-family: Times New Roman;
}
header{
    background: url(../img/back1.png);
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-top:5px solid white;
    border-bottom: 5px solid white;
}

form{
    margin-top:10%;
    width: 400px;
    border-radius:20px;
    border: 5px solid #99ff99;
    background: url(../img/back2.png);
}
form input{
    display: list-item;
    padding:10px;
    margin-top:5px;
    margin-bottom: 5px;
}

#subti{
    color: #009900;
    font-family: comic sans ms;
    font-size: 50px;
    background: #ffffcc;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
#opcion{
    float:right;
    font-size: 30px;
    font-family: comic sans ms;
    padding:10px;
}
#opcion:hover{
    background:#ccccff;
    border-radius: 10px;
    padding:10px;
}
a:link{
    text-decoration: none;
}
@media screen and (max-device-width:700px){  
    header{
        padding-left: 20px;
        text-align: left;
        font-size: 25px;
        color:#ffffff;
        margin:0px;
        border-radius: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 5px solid white;
        border-top: 5px solid white;
    }
    #opcion{
        font-size: 20px;
        padding:0px;
    }
    #subti{
        font-size: 25px;
        border-radius: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 5px solid #ffff33;
        border-top: 5px solid #ffff33;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 5px;
    }
    #form1,#form2,#form3,#form4{
        color:#000000;
        font-size: 15px;
        padding:0px;
        display:block;
        text-align: center;
        border-right: 0px;
        border-radius: 0px;
        border-left: 0px;
        margin:0px;
        margin-top: 10px;
        margin-bottom: 10px;
        /*        padding-top:15px;
                padding-bottom: 15px;*/
        white-space: pre-line;
    }
    #form1 input,#form2 input,#form3 input,#form4 input{
        text-align: center;
        padding:5px;
        margin-top:4px;
        margin-bottom: 4px;
    }
}